@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.room-filter {
	padding: 10px;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	.apply-filter-btn {
		color: black;
		border: none;
		margin-top: 0.5rem;
		text-decoration: underline;
		font-weight: 600;
		font-size: 15px;
	}
	.clear-filter-btn {
		color: black;
		border: none;
		margin-top: 0.5rem;
		margin-left: 1.5rem;
		text-decoration: underline;
		font-weight: 600;
		font-size: 15px;
	}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	.room-filter {
		padding: 5px;
		width: 79vw;
	}
}
